* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #6f93db;
  min-height: 100vh;
  position: relative;
}

/* Back Button */
.back-btn {
  position: absolute;
  top: 25px;
  left: 30px;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

/* Title */
.chat-title {
  text-align: center;
  margin-top: 25px;
  color: black;
  font-size: 28px;
  font-weight: 700;
}

/* Input */
.chat-input {
  margin: 60px auto 20px;
  width: 600px;
  background: white;
  border-radius: 50px;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.icon {
  font-size: 22px;
  cursor: pointer;
}

/* Chat Area */
.chat-area {
  width: 85%;
  height: 420px;
  background-color: white;
  margin: 0 auto;
  border-radius: 25px;
}
